
.judulKepedulianKita{
    width: auto;
    height: auto;
}

h2{
    text-decoration: none;
    color: #111111;
}

.border-kita{
    border-left: 4px solid #111111;
    padding-left: 5px;
}

.blog-card{
    position: relative;
    height: 400px;
    width: 100%;
    background: white;
    box-shadow: 0px 10px 50px rgba(252,56,56,.3);
  }
  .inner-part{
    position: relative;
    display: flex;
    height: 360px;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
  }
  #imgTap:checked ~ .inner-part {
    padding: 0;
    transition: .1s ease-in;
  }
  .inner-part .img{
    height: auto;
    width: 300px;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 2px 3px 15px rgba(252,56,56,.1);
  }
  #imgTap:checked ~ .inner-part .img{
    height: 370px;
    width: 850px;
    z-index: 99;
    margin-top: 10px;
    transition: .3s .2s ease-in;
  }
  .img img{
    height: 100%;
    width: 100%;
    object-fit:fill;
    cursor: pointer;
    opacity: 0;
    transition: .6s;
  }
  #tap-1:checked ~ .inner-part .img-1,
  #tap-2:checked ~ .inner-part .img-2,
  #tap-3:checked ~ .inner-part .img-3{
    opacity: 1;
    transition-delay: .2s;
  }
  .content{
    padding: 0 20px 0 35px;
    width: 100%;
    margin-left: 50px;
    opacity: 0;
    transition: .6s;
  }
  #imgTap:checked ~ .inner-part .content{
    display: none;
  }
  #tap-1:checked ~ .inner-part .content-1,
  #tap-2:checked ~ .inner-part .content-2,
  #tap-3:checked ~ .inner-part .content-3{
    opacity: 1;
    margin-left: 0px;
    z-index: 100;
    transition-delay: .3s;
  }
  .content span{
    display: block;
    color: #7b7992;
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: 500
  }
  .content .title{
    font-size: 30px;
    font-weight: 700;
    color: #0d0925;
    margin-bottom: 20px;
  }
  .content .text{
    color: #4e4a67;
    font-size: 19px;
    margin-bottom: 15px;
    line-height: 1.5em;
    text-align: justify;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
  .content button{
    display: inline-flex;
    padding: 10px 15px;
    border: none;
    font-size: 12px;
    text-transform: uppercase;
    color: #fff0e6;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    border: 1px solid #fd3535;
    background: linear-gradient(147deg, #2F3990  0%, #E92998 54%);
  }
  .content button:hover{
    background: linear-gradient(147deg, #232a6d 0%, #b12175 54%);
  }
  .sliders{
    position: absolute;
    bottom: 10px;
    left: 70%;
    transform: translateX(-50%);
    z-index: 12;
  }
  #imgTap:checked ~ .sliders{
    display: none;
  }
  .sliders .tap{
    position: relative;
    height: 10px;
    width: 50px;
    background: #d9d9d9;
    border-radius: 5px;
    display: inline-flex;
    margin: 0 3px;
    cursor: pointer;
  }
  .sliders .tap:hover{
    background: #cccccc;
  }
  .sliders .tap:before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: -100%;
    background: linear-gradient(147deg,#2F3990 0%, #E92998 54%);
    border-radius: 10px;
    transform: scaleX(0);
    transition: transform .6s;
    transform-origin: left;
  }
  input[type="radio"],
  input[type="checkbox"]{
    display: none;
  }
  #tap-1:checked ~ .sliders .tap-1:before,
  #tap-2:checked ~ .sliders .tap-2:before,
  #tap-3:checked ~ .sliders .tap-3:before{
    transform: scaleX(1);
    width: 100%;
  }

