.judulUpdate{
    width: auto;
    height: auto;
}

.borderUpdate{
    display: block;
    width: 60px;
    height: 3px;
    margin-left: 30px;
    background: #412f2f;
}

.kontenUpdate{
    font-size: 16px;
    font-weight: lighter;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.next, .previous{
    background-color: black;
}

.div-previous, .div-next{
    width: 2%;
}

.div-satu{
    padding: 0;
}