.kategoriBtn{
    border-radius:5px;
    padding: auto auto;
    border: solid #E92998 2px;
    color: #E92998;
    font-size: 12px;
    height: auto;
    width: auto;
    margin-right: 10px;
    display: block;
}

.kategoriBtn:hover{
    border-radius:5px;
    border: solid #b9227a 2px;
    color: #ffffff;
    background: linear-gradient(147deg,#2F3990 0%, #E92998 54%);
    font-size: 12px;
    height: auto;
    width: auto;
    margin-right: 10px;
    display: block;
  }

  .searchInput{
    margin-left: 10px;
    width: 90%;
    border: thin 1px #E92998;
    border-radius: 13px;
    border: solid #b9227a 2px;
  }

  .searchInput::placeholder{
      font-size: 9px;
  }

.item-donasi{
    float: left; 
    margin: 7px;
    display: none;
}

.show{
    display: block;
}

.kategoriBtn.active {
    border-radius:5px;
    padding: auto auto;
    border: solid #E92998 2px;
    color: #E92998;
    font-size: 12px;
    height: auto;
    width: auto;
    margin-right: 10px;
    background-color: silver;
    display: block;
  }

  .kontenListProgram{
    font-size: 12px;
    font-weight: lighter;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
  }

  .titleListProgram{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
  }